<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restoran - Bootstrap Restaurant Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <%!-- <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet"> --%>
</head>

<body>
    <div class="bg-white p-0">
        <!-- Spinner Start -->
        <%!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> --%>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0 sticky-top">
                <img src="https://www.soprema.fr/static/version1755796522/frontend/Soprema/master/default/images/logo-soprema-standard.svg" style="max-height:40px;" alt="Logo">
                    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="navbar-collapse" id="navbarCollapse text-align-center text-center">
                    <div class="navbar-nav mx-auto py-0 pe-4">
                        <a href={~p"/"} class="nav-item nav-link active">Accueil</a>
                        <a href={~p"/produit"} class="nav-item nav-link">Produits</a>
                        <a href="service.html" class="nav-item nav-link">Guide de solutions</a>
                        <a href="menu.html" class="nav-item nav-link">Documentation</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                            <div class="dropdown-menu m-0">
                                <a href="booking.html" class="dropdown-item">Booking</a>
                                <a href="team.html" class="dropdown-item">Our Team</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Formation</a>
                    </div>
                    <a href="" class="btn btn-primary py-2 px-4 rounded-pill">Rechercher</a>
                </div>
            </nav>

            <div class="py-1 bg-dark hero-header mb-3"
                    style="background: url('https://www.soprema.fr/media/wysiwyg/Fonctionnalisation_1__2.jpg') no-repeat center center; 
                            background-size: cover;height: 42rem">
                <div class="container align-items-center" style="margin-top: 17rem;">
                    <div class="text-center text-lg-start">
                        <h2 class="display-3 text-white animated slideInLeft">SOPREMA - Building for Life</h2>
                        <h3 class="text-white animated slideInLeft mb-4 pb-2">Des solutions durables et innovantes pour la construction</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <div class="container">
            <div class="container text-start">
                <i class="fa fa-quote-left align-items-center fa-2x text-primary mb-3 d-block"></i>
            </div>
            <h3 class="mb-3 text-center">
                Parce que chaque action que nous prenons aujourd’hui, au quotidien, aura un impact demain, 
                il est de notre devoir individuel et collectif de nous assurer que cet impact est positif. 
                Parce que la Terre est aussi notre maison, il faut tout faire pour la garder en bonne santé. 
                <strong>Building for Life.</strong>
            </h3>
            <div class="container text-end">
                <i class="fa fa-quote-right align-items-center fa-2x text-primary mb-3 d-block"></i>
            </div>
        </div>

        <!-- Service Start -->
        <div class="py-1">
            <div class="container">
                <div class="row g-4">
                  <h5 class="section-title ff-secondary text-start text-primary fw-normal">Service Soprema</h5>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3" style="height: 17rem;">
                            <div class="p-4">
                                <i class="fa fa-3x fa-calculator text-primary mb-4"></i>
                                <h5>Calculateur ouate cellulose Univercell+</h5>
                                <p>Faites-vous guider avec notre outil de calcul pour connaître la quantité d'isolant dont vous avez besoin.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded pt-3" style="height: 17rem;">
                            <div class="p-4">
                                <i class="fa fa-3x fa-file text-primary mb-4"></i>
                                <h5>Documentation</h5>
                                <p>Parcourez l’ensemble de nos documentations techniques et commerciales afin de faciliter votre travail de conception.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3" style="height: 17rem;">
                            <div class="p-4">
                                <i class="fa fa-3x fa-play text-primary mb-4"></i>
                                <h5>Vidéos</h5>
                                <p>Accédez à l'ensemble de nos vidéos : tutos de pose, présentations produits, témoignages clients, ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded pt-3" style="height: 17rem;">
                            <div class="p-4">
                                <i class="fa fa-3x fa-recycle text-primary mb-4"></i>
                                <h5>Formulaire recyclage</h5>
                                <p>Participez au tri de vos déchets grâce à notre service Sopraloop.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- About Start -->
        <div class="py-1">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="images/about-1.jpg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="images/about-2.jpg" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="images/about-3.jpg">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="images/about-4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h5 class="text-start text-primary fw-normal">LA SOPRACADEMY</h5>
                        <h1 class="mb-4">LA SOPRACADEMY Des formations pour tous, toute l'année</h1>
                        <p class="mb-4">SOPREMA, c’est tout d’abord une entreprise familiale indépendante depuis plus de 100 ans.

                          <p class="mb-4">Avec plus de 12 300 collaborateurs dans le monde, dont près de la moitié en France, Soprema se démarque par l’humain. Les collaborateurs de SOPREMA sont notre plus grande richesse.
                          Ce site est le reflet des métiers de l’industrie du Groupe SOPREMA, il rassemble les femmes et les hommes des sites industriels, de la direction industrielle, de nos laboratoires de R&D, de la vente & du marketing et des services support.</p>

                          <p class="mb-4">Notre devise : Oser ! Parce que c’est par l’action que nous ferons bouger les choses. Alors si vous aussi vous souhaitez faire partie de cette aventure, rejoignez-nous !</p></p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-12">
                              <a href="#">
                                <div class="d-flex align-items-center border-start border-5 px-3">
                                    <%!-- <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">1908</h1> --%>
                                    <div class="ps-4">
                                        <p class="mb-0"></p>
                                        <h6 class="text-uppercase mb-0">Centre de formation Soprema</h6>
                                    </div>
                                </div>
                              </a>
                            </div>

                            <div class="col-sm-12">
                              <a href="#">
                                <div class="d-flex align-items-center border-start border-5 px-3">
                                    <%!-- <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">5.14</h1> --%>
                                    <div class="ps-4">
                                        <p class="mb-0"></p>
                                        <h6 class="text-uppercase mb-0">Formations certifiantes en alternace</h6>
                                    </div>
                                </div>
                              </a>
                            </div>

                            <div class="col-sm-12">
                              <a href="#">
                                <div class="d-flex align-items-center border-start border-5 px-3">
                                    <%!-- <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">5.14</h1> --%>
                                    <div class="ps-4">
                                        <p class="mb-0"></p>
                                        <h6 class="text-uppercase mb-0">Planning des formations étanchéité et isolation</h6>
                                    </div>
                                </div>
                              </a>
                            </div>
                        </div>
                        <%!-- <a class="btn btn-primary py-3 px-5 mt-2" href="">Trouvez votre système</a> --%>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Produits</h5>
            <h1 class="mb-5">Découvrez nos produits vedettes</h1>
        </div>
        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <!-- Slide 1 -->
                <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center" style="max-width: 400px;">
                    <div class="card product-card">
                        <img src="images/article-1.webp" class="card-img-top" alt="Produit 1">
                        <div class="card-body text-center">
                        <h5 class="card-title">PAVAFLEX CONFORT</h5>
                        </div>
                    </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center" style="max-width: 400px;">
                    <div class="card product-card">
                        <img src="images/article-2.webp" class="card-img-top" alt="Produit 2">
                        <div class="card-body text-center">
                        <h5 class="card-title">PAVATHERM</h5>
                        </div>
                    </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center" style="max-width: 400px;">
                    <div class="card product-card">
                        <img src="images/article-3.webp" class="card-img-top" alt="Produit 3">
                        <div class="card-body text-center">
                        <h5 class="card-title">UNIVERCELL CRISTAL</h5>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center" style="max-width: 400px;">
                    <div class="card product-card">
                        <img src="images/article-4.webp" class="card-img-top" alt="Produit 4">
                        <div class="card-body text-center">
                        <h5 class="card-title">PAVACELL DB</h5>
                        </div>
                    </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center" style="max-width: 400px;">
                    <div class="card product-card">
                        <img src="images/article-5.webp" class="card-img-top" alt="Produit 5">
                        <div class="card-body text-center">
                        <h5 class="card-title">PAVASOL</h5>
                        </div>
                    </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center" style="max-width: 400px;">
                        <div class="card product-card">
                            <img src="images/article-6.webp" class="card-img-top" alt="Produit 6">
                            <div class="card-body text-center">
                            <h5 class="card-title">PAVAROOF WFB</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center" style="max-width: 400px;">
                        <div class="card product-card">
                            <img src="images/article-6.webp" class="card-img-top" alt="Produit 6">
                            <div class="card-body text-center">
                            <h5 class="card-title">PAVAWALL SMART</h5>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            </div>

        <!-- Indicators -->
            <div class="carousel-indicators">
                <button style="background-color: #0072ce;" type="button" data-bs-target="#productCarousel" data-bs-slide-to="0" class="active"></button>
                <button style="background-color: #0072ce;" type="button" data-bs-target="#productCarousel" data-bs-slide-to="1"></button>
            </div>

            <!-- Boutons de navigation -->
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev"
                    style="width: 35px; height: 35px; background: #fff; border-radius: 50%; transform: translateY(500%);">
                <i class="fas fa-chevron-left text-dark"></i>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next"
                    style="right: 0.5rem; width: 35px; height: 35px; background: #fff; border-radius: 50%; transform: translateY(500%);">
                <i class="fas fa-chevron-right text-dark"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- slide produit end -->

        <!-- About Start -->
        <div class="py-2">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-12 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="images/noflam_3.webp">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h5 class="text-start text-primary fw-normal">Vous pensez prendre le virage sans flamme ?</h5>
                        <h1 class="mb-4">Découvrez notre vaste éventail de produits appliqués à froid !</h1>
                        <p class="mb-4">Les solutions sans flamme sont idéales pour tous les types de bâtiments, mais elles sont particulièrement recommandées pour les travaux effectués dans des endroits habités en permanence ou encore ceux où une production est en cours sept jours sur sept. En plus d’être performantes, les solutions sans flamme sont une option plus sûre pour les travailleurs et les occupants, mais aussi pour l’environnement.</p>
                        <a class="btn btn-primary py-3 px-5 mt-2 rounded-pill" href="">Découvrez notre offre complète </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        

        <!-- Reservation Start -->
        <div class="py-3 px-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0">
                <div class="col-md-6" style="background-color: #0072ce;">
                    <div class="ratio ratio-16x9 mx-auto mt-2" style="max-width: 800px;max-height: 400px;">
                        <iframe src="https://www.youtube.com/embed/N6YP743QhJY" 
                                title="YouTube video"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center" style="background-color: #0072ce;">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h1 class="text-white mb-4">Valorisez chaque m² de toiture</h1>
                        <p class="text-white mb-4">Cool roof, photovoltaïque, terrasse, végétalisation ou gestion de l'eau, avec les solutions de fonctionnalisation SOPREMA, transformez les toitures plates pour rendre les bâtiments générateurs de valeur, plus agréables à vivre et respectueux de notre environnement.</p>
                        <a class="btn btn-primary bg-white py-3 px-5 mt-2 rounded-pill text-black" style="color: black;" href="">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reservation Start -->

        <!-- Team Start -->
        <div class="pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Biodiversité</h5>
                    <h1 class="mb-5">Avec la végétalisation Sopranature par SOPREMA</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <img class="img-fluid" src="https://www.soprema.fr/media/wysiwyg/Favoriser_la_biodiversit_.png" alt="">
                            <div class="d-flex justify-content-center mt-1 mb-1">
                                <a class="btn btn-primary bg-dark py-1 px-5 mt-2 rounded-pill" href="">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <img class="img-fluid" src="https://www.soprema.fr/media/wysiwyg/Crit_res_de_choix.png" alt="">
                            <div class="d-flex justify-content-center mt-1 mb-1">
                               <a class="btn btn-primary bg-dark py-1 px-5 mt-2 rounded-pill" href="">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->


        <!-- Testimonial Start -->
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Notre expertise !!</h5>
                    <h1 class="mb-5">A votre disposition</h1>
                </div>
                <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">

                        <!-- Item 1 -->
                        <div class="carousel-item active">
                            <!-- Image en background -->
                            <div class="testimonial-item d-flex align-items-center text-white p-5"
                                style="background: url('https://www.soprema.fr/media/wysiwyg/Banni_res_Desktop_Magento_14__2.png') center center / cover no-repeat; height: 400px; position: relative;">

                                <!-- Overlay si besoin -->
                                <div style="position: absolute; inset: 0;"></div>

                                <!-- Contenu -->
                                <div class="container position-relative" style="z-index: 2;">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                        <h2 class="mb-4 text-white">
                                            Une large gamme d'isolants biosourcés pour vos sols, cloisons, façades, toitures.
                                        </h2>
                                        <a class="btn btn-primary bg-dark py-3 px-5 mt-2 rounded-pill" href="">Découvrez nos solutions</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Item 2 -->
                        <div class="carousel-item">
                            <!-- Image en background -->
                             <div class="testimonial-item d-flex align-items-center text-white p-5"
                                style="background: url('https://www.soprema.fr/media/wysiwyg/Fonctionnalisation_1__2.jpg') center center / cover no-repeat; height: 400px; position: relative;">

                                <!-- Overlay si besoin -->
                                <div style="position: absolute; inset: 0;"></div>

                                <!-- Contenu -->
                                <div class="container position-relative" style="z-index: 2;">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                        <h2 class="mb-4 text-white">
                                            Qui mieux que l'expert de l'étanchéité pour fonctionnaliser 
                                        </h2>
                                        <p class="mb-4 text-white"><span>Découvrez en plus sur nos systèmes de végétalisation, photovoltaïques ou de gestion des eaux.</span></p>
                                        <a class="btn btn-primary bg-dark py-3 px-5 mt-2 rounded-pill" href="">En savoir plus</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Item 3 -->
                        <div class="carousel-item">
                            <!-- Image en background -->
                             <div class="testimonial-item d-flex align-items-center text-white p-5"
                                style="background: url('https://www.soprema.fr/media/wysiwyg/R_novation_4.png') center center / cover no-repeat; height: 400px; position: relative;">

                                <!-- Overlay si besoin -->
                                <div style="position: absolute; inset: 0;"></div>

                                <!-- Contenu -->
                                <div class="container position-relative" style="z-index: 2;">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                        <h2 class="mb-4 text-white">
                                            Pour répondre aux enjeux de rénovation, SOPREMA est votre interlocuteur privilégié.
                                        </h2>
                                        <p class="mb-4 text-white"><span>Faites le choix du confort tout court en hiver comme en été et donnez de la valeur à votre bâti.</span></p>
                                        <a class="btn btn-primary bg-dark py-3 px-5 mt-2 rounded-pill" href="">Je renove</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button style="background-color: #0072ce;" type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="0" class="active"></button>
                        <button style="background-color: #0072ce;" type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="1"></button>
                        <button style="background-color: #0072ce;" type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="2"></button>
                    </div>

                    <!-- Boutons de navigation -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev"
                            style="left: 0.5rem; width: 50px; width: 35px; height: 35px; background: #fff; border-radius: 50%; transform: translateY(500%);">
                        <i class="fas fa-chevron-left text-dark"></i>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next"
                            style="right: 0.5rem; width: 35px; height: 35px; background: #fff; border-radius: 50%; transform: translateY(500%);">
                        <i class="fas fa-chevron-right text-dark"></i>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>
        <!-- Testimonial End -->

        <!-- Reservation Start -->
        <div class="py-2 px-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0">
                <div class="col-md-4" style="background-color: #0072ce;">
                    <div class="ratio ratio-16x9 mx-auto mt-3" style="max-width: 400px;max-height: 250px;">
                        <img class="img-fluid" src="images/trt.webp" alt="">
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center" style="background-color: #0072ce;">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h1 class="text-white mb-4">Quel système vous convient?</h1>
                        <p class="text-white mb-4">Ne perdez plus de temps ! Le sélecteur de systèmes SOPREMA peut vous aider à trouver le système parfait en quelques étapes. SOPREMA a une gamme d'options pour répondre à vos besoins et vous aider à construire en toute confiance. </p>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center" style="background-color: #0072ce;">
                    <a class="btn btn-primary bg-dark py-3 px-5 mt-2 rounded-pill" href="">Trouvez votre système</a>
                </div>
            </div>
        </div>
        
        <!-- Reservation Start -->

        <!-- Menu Start -->
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Actualités</h5>
                    <h1 class="mb-5">Consultez nos dernières actualités</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <div class="tab-content">
                        <div class="tab-pane show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="images/act1.webp" alt="" style="width: 200px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Construction hors-site et fibre de bois en vrac : le duo gagnant pour ...</span>
                                            </h5>
                                            <small class="fst-italic">Optimisez vos projets de construction hors-site grâce à la fibre de bois en vrac Soprawood Fibe ...</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="images/act2.webp" alt="" style="width: 200px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Isolation biosourcée : un rempart naturel contre la chaleur estivale</span>
                                            </h5>
                                            <small class="fst-italic">En période de canicule, l’isolation biosourcée comme la fibre de bois limite la surchauffe inté ...</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="images/act3.webp" alt="" style="width: 200px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Comment appliquer Alsan Flashing Quadro en relevé ?</span>
                                            </h5>
                                            <small class="fst-italic">Dans ce tutoriel dédié à l'étanchéité en relevé, vous découvrirez étape par étape comment ...</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="images/act4.webp" alt="" style="width: 200px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Comment rénover un chéneau métallique avec Alsan Flashing Quadro + Als ...</span>
                                            </h5>
                                            <small class="fst-italic">Dans ce tutoriel dédié à la rénovation d'un chéneau métallique, vous découvrirez étape par ...</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="images/act5.webp" alt="" style="width: 200px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Le Groupe SOPREMA publie sa Déclaration de Performance Extra-Financièr ...</span>
                                            </h5>
                                            <small class="fst-italic">Découvrez l'ensemble de nos engagements et actions à travers le monde, pour conduire nos a ...</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="images/act6.webp" alt="" style="width: 200px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>Comment poser l'isolant biosourcé Pavaflex Confort en rampants de ...</span>
                                            </h5>
                                            <small class="fst-italic">Dans ce tutoriel, vous découvrirez comment mettre en œuvre l'isolant en fibre de bois Pava ...</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Menu End -->
        

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">A propos</h4>
                        <a class="btn btn-link" href="">Notre entreprise</a>
                        <a class="btn btn-link" href="">Nos marques</a>
                        <a class="btn btn-link" href="">SOPREMA dans le monde</a>
                        <a class="btn btn-link" href="">Les chiffres clés</a>
                        <a class="btn btn-link" href="">Blog</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Informations utiles</h4>
                        <p class="mb-2">Espace presse</p>
                        <p class="mb-2">Rapport DPEF 2025</p>
                        <p class="mb-2">Liens utiles</p>
                        <p class="mb-2">Conditions générales de vente</p>
                        <p class="mb-2">Conditions générales des prestations des formations</p>
                        <p class="mb-2">Mentions légales</p>
                        <p class="mb-2">Index égalité professionnelle femmes/hommes</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Outils et ressources</h4>
                        <p class="text-light fw-normal">Nos engagements</p>
                        <p class="text-light fw-normal">Fondation Solar Impulse</p>
                        <p class="text-light fw-normal">Références chantiers</p>
                        <p class="text-light fw-normal">Nos emplacements</p>
                        <p class="text-light fw-normal">Carrières</p>
                        <p class="text-light fw-normal">Contactez un expert</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">INSCRIPTION AUX ACTUALITÉS</h4>
                        <p>Recevez des informations personnalisées concernant nos réalisations, nos nouveaux produits, des conseils d’experts et bien plus !</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-12 text-center text-md-start mb-3 mb-md-0">
                            <a class="border-bottom" href="#">Politique de confidentialité et de gestion des données personnelles</a> © SOPREMA FRANCE, 2025
							
                            Ce site est protégé par reCAPTCHA. Les politiques de confidentialité et conditions d'utilisation de Google s'appliquent.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>