<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restoran - Bootstrap Restaurant Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <%!-- <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet"> --%>
</head>

<body>
    <div class="bg-white p-0">
        <!-- Spinner Start -->
        <%!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> --%>
        <!-- Spinner End -->

        <!-- Navbar & Hero Start -->
        <div class="position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0 sticky-top">
                <img src="https://www.soprema.fr/static/version1755796522/frontend/Soprema/master/default/images/logo-soprema-standard.svg" style="max-height:40px;" alt="Logo">
                    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="navbar-collapse" id="navbarCollapse text-align-center text-center">
                    <div class="navbar-nav mx-auto py-0 pe-4">
                        <a href={~p"/"} class="nav-item nav-link">Accueil</a>
                        <a href={~p"/produit"} class="nav-item nav-link active">Produits</a>
                        <a href="service.html" class="nav-item nav-link">Guide de solutions</a>
                        <a href="menu.html" class="nav-item nav-link">Documentation</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                            <div class="dropdown-menu m-0">
                                <a href="booking.html" class="dropdown-item">Booking</a>
                                <a href="team.html" class="dropdown-item">Our Team</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Formation</a>
                    </div>
                    <a href="" class="btn btn-primary py-2 px-4 rounded-pill">Rechercher</a>
                </div>
            </nav>
        </div>
        <!-- Navbar & Hero End -->

        <section class="row mt-2" style="background-color: #fff;">
            <div class="col-md-3 py-1">
                <div class="container mt-5">
                    <div class="container text-center">
                        <h1 class="mb-3 animated slideInDown">Produits</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center text-uppercase">
                                <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
                                <li class="breadcrumb-item"><a href="#">Produits</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Menu</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row container">
                    <div class="col-md-12">
                        <div class="container text-center">
                            <h6 class="section-title ff-secondary text-center text-primary fw-normal">Tous les produits</h6>
                        </div>
                        <div class="accordion" id="faqAccordion" style="color: #fff;">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">
                                        categorie
                                    </button>
                                </h2>
                                <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><a href="index.html" class="text-decoration-none">Technologie (606)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                                            Type
                                        </button>
                                </h2>
                                <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><a href="index.html" class="text-decoration-none">Thermique (29)</a></li>
                                            <li class="list-group-item"><a href="about.html" class="text-decoration-none">Thermo-acoustique (22)</a></li>
                                            <li class="list-group-item"><a href="service.html" class="text-decoration-none">Acoustique (2)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                                            Paroi
                                        </button>
                                </h2>
                                <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><a href="index.html" class="text-decoration-none">Toiture terasse (237)</a></li>
                                            <li class="list-group-item"><a href="about.html" class="text-decoration-none">Toiture en pente (81)</a></li>
                                            <li class="list-group-item"><a href="service.html" class="text-decoration-none">Sol (61)</a></li>
                                            <li class="list-group-item"><a href="menu.html" class="text-decoration-none">Mur façade (57)</a></li>
                                            <li class="list-group-item"><a href="contact.html" class="text-decoration-none">Parois enterrées (56)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                                            Mode de pose
                                        </button>
                                </h2>
                                <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                             <li class="list-group-item"><a href="index.html" class="text-decoration-none">Manuel (78)</a></li>
                                            <li class="list-group-item"><a href="about.html" class="text-decoration-none">Soudable (65)</a></li>
                                            <li class="list-group-item"><a href="service.html" class="text-decoration-none">En semi-indépendance par fixations mécaniques (28)</a></li>
                                            <li class="list-group-item"><a href="menu.html" class="text-decoration-none">Fixation auto-adhésive (14)</a></li>
                                            <li class="list-group-item"><a href="contact.html" class="text-decoration-none">Fixé mécaniques (11)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
                                            Matériaux
                                        </button>
                                </h2>
                                <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><a href="index.html" class="text-decoration-none">bitume élastomère sbs (65)</a></li>
                                            <li class="list-group-item"><a href="about.html" class="text-decoration-none">pvc (46)</a></li>
                                            <li class="list-group-item"><a href="service.html" class="text-decoration-none">polyuréthane (pu) (42)</a></li>
                                            <li class="list-group-item"><a href="menu.html" class="text-decoration-none">tpo (24)</a></li>
                                            <li class="list-group-item"><a href="contact.html" class="text-decoration-none">pmma (22)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="faq5">
                                            Couleur
                                        </button>
                                </h2>
                                <div id="faq6" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                       <ul class="list-group">
                                            <li class="list-group-item"><a href="index.html" class="text-decoration-none">RAL 7012 Gris basalte (39)</a></li>
                                            <li class="list-group-item"><a href="about.html" class="text-decoration-none">Gris (25)</a></li>
                                            <li class="list-group-item"><a href="service.html" class="text-decoration-none">Chagall (Gris) (23)</a></li>
                                            <li class="list-group-item"><a href="menu.html" class="text-decoration-none">RAL 7047 Gris clair (21)</a></li>
                                            <li class="list-group-item"><a href="contact.html" class="text-decoration-none">Ardoisé noir (18)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7" aria-expanded="false" aria-controls="faq5">
                                            Finition
                                        </button>
                                </h2>
                                <div id="faq7" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><a href="index.html" class="text-decoration-none">Bords droits (29)</a></li>
                                            <li class="list-group-item"><a href="about.html" class="text-decoration-none">Rainé bouveté 4 côtés (8)</a></li>
                                            <li class="list-group-item"><a href="service.html" class="text-decoration-none">Feuilluré 4 côtés (6)</a></li>
                                            <li class="list-group-item"><a href="menu.html" class="text-decoration-none">Feuilluré 3 côtés (4)</a></li>
                                            <li class="list-group-item"><a href="contact.html" class="text-decoration-none">Feuilluré sens longueur (3)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5">
                <div class="row container">
                    <div class="col-md-3 col-lg-3 mb-4 mb-lg-0 mt-2">
                    <a href="#">
                        <div class="card text-black">
                            <img src="images/produit-1.webp"
                                class="card-img-top" alt="iPhone" />
                            <div class="card-body">
                                <div class="text-center mt-1">
                                    <h6 class="card-title">GEOLAND MC</h6>
                                </div>

                                <div class="d-flex flex-row">
                                    
                                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary flex-fill ms-1">comparer</button>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-md-3 col-lg-3 mb-4 mb-lg-0 mt-2">
                    <a href={~p"/details"}>
                        <div class="card text-black">
                            <img src="images/produit-2.webp"
                                class="card-img-top" alt="iPhone" />
                            <div class="card-body">
                                <div class="text-center mt-1">
                                    <h6 class="card-title">GEOLAND HT</h6>
                                </div>

                                <div class="d-flex flex-row">
                                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary flex-fill ms-1">comparer</button>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-md-3 col-lg-3 mb-4 mb-lg-0 mt-2">
                    <a href="#">
                        <div class="card text-black">
                            <img src="images/produit-3.webp"
                                class="card-img-top" alt="iPhone" />
                            <div class="card-body">
                                <div class="text-center mt-1">
                                    <h6 class="card-title">COLTACK EVOLUTION</h6>
                                </div>

                                <div class="d-flex flex-row">
                                    
                                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary flex-fill ms-1">comparer</button>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-md-3 col-lg-3 mb-4 mb-lg-0 mt-2">
                    <a href="#">
                        <div class="card text-black">
                            <img src="images/produit-4.webp"
                                class="card-img-top" alt="iPhone" />
                            <div class="card-body">
                                <div class="text-center mt-1">
                                    <h6 class="card-title">ELASTOCOL 500</h6>
                                </div>

                                <div class="d-flex flex-row">
                                    
                                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary flex-fill ms-1">comparer</button>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-md-3 col-lg-3 mb-4 mb-lg-0 mt-2">
                    <a href="#">
                        <div class="card text-black">
                        <img src="images/produit-5.webp"
                            class="card-img-top" alt="iPhone" />
                        <div class="card-body">
                            <div class="text-center mt-1">
                                <h6 class="card-title">ALSAN 902F</h6>
                            </div>

                            <div class="d-flex flex-row">
                                
                            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary flex-fill ms-1">comparer</button>
                            </div>
                        </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-md-3 col-lg-3 mb-4 mb-lg-0 mt-2">
                    <a href="#">
                        <div class="card text-black">
                        <img src="images/produit-6.webp"
                            class="card-img-top" alt="iPhone" />
                        <div class="card-body">
                            <div class="text-center mt-1">
                                <h6 class="card-title">GEOALAND TTX</h6>
                            </div>

                            <div class="d-flex flex-row">
                                
                            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary flex-fill ms-1">comparer</button>
                            </div>
                        </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-md-3 col-lg-3 mb-4 mb-lg-0 mt-2">
                    <a href="#">
                        <div class="card text-black">
                        <img src="images/produit-7.webp"
                            class="card-img-top" alt="iPhone" />
                        <div class="card-body">
                            <div class="text-center mt-1">
                                <h6 class="card-title">ALSAN FLEECE 165 B</h6>
                            </div>

                            <div class="d-flex flex-row">
                                
                            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary flex-fill ms-1">comparer</button>
                            </div>
                        </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-md-3 col-lg-3 mb-4 mb-lg-0 mt-2">
                    <a href="#">
                        <div class="card text-black">
                        <img src="images/produit-8.webp"
                            class="card-img-top" alt="iPhone" />
                        <div class="card-body">
                            <div class="text-center mt-1">
                                <h6 class="card-title">ALSAN 140</h6>
                            </div>

                            <div class="d-flex flex-row">
                                
                            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary flex-fill ms-1">comparer</button>
                            </div>
                        </div>
                        </div>
                    </a>
                    </div>
                    
                </div>
            </div>
        </section>        

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">A propos</h4>
                        <a class="btn btn-link" href="">Notre entreprise</a>
                        <a class="btn btn-link" href="">Nos marques</a>
                        <a class="btn btn-link" href="">SOPREMA dans le monde</a>
                        <a class="btn btn-link" href="">Les chiffres clés</a>
                        <a class="btn btn-link" href="">Blog</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Informations utiles</h4>
                        <p class="mb-2">Espace presse</p>
                        <p class="mb-2">Rapport DPEF 2025</p>
                        <p class="mb-2">Liens utiles</p>
                        <p class="mb-2">Conditions générales de vente</p>
                        <p class="mb-2">Conditions générales des prestations des formations</p>
                        <p class="mb-2">Mentions légales</p>
                        <p class="mb-2">Index égalité professionnelle femmes/hommes</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Outils et ressources</h4>
                        <p class="text-light fw-normal">Nos engagements</p>
                        <p class="text-light fw-normal">Fondation Solar Impulse</p>
                        <p class="text-light fw-normal">Références chantiers</p>
                        <p class="text-light fw-normal">Nos emplacements</p>
                        <p class="text-light fw-normal">Carrières</p>
                        <p class="text-light fw-normal">Contactez un expert</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">INSCRIPTION AUX ACTUALITÉS</h4>
                        <p>Recevez des informations personnalisées concernant nos réalisations, nos nouveaux produits, des conseils d’experts et bien plus !</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-12 text-center text-md-start mb-3 mb-md-0">
                            <a class="border-bottom" href="#">Politique de confidentialité et de gestion des données personnelles</a> © SOPREMA FRANCE, 2025
							
                            Ce site est protégé par reCAPTCHA. Les politiques de confidentialité et conditions d'utilisation de Google s'appliquent.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>