body {
    background-color: #ffffff;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 50px 0;
}

.accordion-item {
    visibility: inherit;
    border: none;
    border-bottom: 1px solid #e0e0e0;
}

.accordion-button {
    padding: 20px 0;
    font-weight: 600;
    color: #333;
    background-color: transparent;
}

.accordion-button:not(.collapsed) {
    /* color: #333; */
    background-color: transparent;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: transparent;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
    padding: 0 0 20px 0;
}

.collapse{
  visibility: inherit;
}
