<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Soprema" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- for carusel !-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
  <div class="bg-white p-0">
        <!-- Spinner Start -->
        <%!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> --%>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0 sticky-top">
                <img src="https://www.soprema.fr/static/version1755796522/frontend/Soprema/master/default/images/logo-soprema-standard.svg" style="max-height:40px;" alt="Logo">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="navbar-collapse" id="navbarCollapse text-align-center text-center">
                    <div class="navbar-nav mx-auto py-0 pe-4">
                        <a href={~p"/"} class="nav-item nav-link active">Accueil</a>
                        <a href={~p"/produit"} class="nav-item nav-link">Produits</a>
                        <a href="service.html" class="nav-item nav-link">Contact</a>
                        <a href="menu.html" class="nav-item nav-link">Documentation</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                            <div class="dropdown-menu m-0">
                                <a href="booking.html" class="dropdown-item">Booking</a>
                                <a href="team.html" class="dropdown-item">Our Team</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Formation</a>
                    </div>
                    <a href="" class="btn btn-primary py-2 px-4 rounded-pill">Rechercher</a>
                </div>
            </nav>


            <!--
            <div class="py-1 bg-dark hero-header mb-3"
                    style="background: url('https://www.soprema.fr/media/wysiwyg/Fonctionnalisation_1__2.jpg') no-repeat center center;
                            background-size: cover;height: 42rem">
                <div class="container align-items-center" style="margin-top: 17rem;">
                    <div class="text-center text-lg-start">
                        <h2 class="display-3 text-white animated slideInLeft">SOPREMA - Building for Life</h2>
                        <h3 class="text-white animated slideInLeft mb-4 pb-2">Des solutions durables et innovantes pour la construction</h3>
                    </div>
                </div>
            </div>
            !-->

            <!--
            <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="background: url('https://www.soprema.fr/media/wysiwyg/Fonctionnalisation_1__2.jpg') no-repeat center center; background-size: cover; height: 42rem;">
                    <div class="container align-items-center" style="margin-top: 17rem;">
                        <div class="text-center text-lg-start">
                        <h2 class="display-3 text-white animated slideInLeft">SOPREMA - Building for Life</h2>
                        <h3 class="text-white animated slideInLeft mb-4 pb-2">Des solutions durables et innovantes pour la construction</h3>
                        </div>
                    </div>
                    </div>
                    <div class="carousel-item" style="background: url('https://www.soprema.fr/media/wysiwyg/toiture_vegetalisee_sopranature.jpg') no-repeat center center; background-size: cover; height: 42rem;">
                    <div class="container align-items-center" style="margin-top: 17rem;">
                        <div class="text-center text-lg-start">
                        <h2 class="display-3 text-white animated slideInLeft">Toiture Végétalisée SOPRANATURE®</h2>
                        <h3 class="text-white animated slideInLeft mb-4 pb-2">Créez des espaces verts sur vos toits</h3>
                        </div>
                    </div>
                    </div>
                    <div class="carousel-item" style="background: url('https://www.soprema.fr/media/wysiwyg/etancheite_toiture_terrasse.jpg') no-repeat center center; background-size: cover; height: 42rem;">
                    <div class="container align-items-center" style="margin-top: 17rem;">
                        <div class="text-center text-lg-start">
                        <h2 class="display-3 text-white animated slideInLeft">Solutions d'étanchéité</h2>
                        <h3 class="text-white animated slideInLeft mb-4 pb-2">Protégez vos bâtiments avec nos systèmes d'étanchéité</h3>
                        </div>
                    </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Précédent</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Suivant</span>
                </button>
            </div>
            !-->


            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div id="headerCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#headerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#headerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#headerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="background: url('https://www.soprema.fr/media/wysiwyg/Fonctionnalisation_1__2.jpg') no-repeat center center; background-size: cover; height: 30rem;">
                        <div class="container align-items-center" style="margin-top: 10rem;">
                            <div class="text-center text-lg-start">
                            <h2 class="display-3 text-white animated slideInLeft"></h2>
                            <h3 class="text-white animated slideInLeft mb-4 pb-2"></h3>
                            </div>
                        </div>
                        </div>
                        <div class="carousel-item" style="background: url('images/act5.webp') no-repeat center center; background-size: cover; height: 30rem;">
                        <div class="container align-items-center" style="margin-top: 10rem;">
                            <div class="text-center text-lg-start">
                            <h2 class="display-3 text-white animated slideInLeft"></h2>
                            <h3 class="text-white animated slideInLeft mb-4 pb-2"></h3>
                            </div>
                        </div>
                        </div>
                        <div class="carousel-item" style="background: url('images/about-1.jpg') no-repeat center center; background-size: cover; height: 30rem;">
                        <div class="container align-items-center" style="margin-top: 10rem;">
                            <div class="text-center text-lg-start">
                            <h2 class="display-3 text-white animated slideInLeft"></h2>
                            <h3 class="text-white animated slideInLeft mb-4 pb-2"></h3>
                            </div>
                        </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#headerCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Précédent</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#headerCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Suivant</span>
                    </button>
                    </div>
                </div>
            </div>



        </div>
        <!-- Navbar & Hero End -->
    {@inner_content}
    <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">A propos</h4>
                        <a class="btn btn-link" href="">Notre entreprise</a>
                        <a class="btn btn-link" href="">Nos marques</a>
                        <a class="btn btn-link" href="">SOPREMA dans le monde</a>
                        <a class="btn btn-link" href="">Les chiffres clés</a>
                        <a class="btn btn-link" href="">Blog</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Informations utiles</h4>
                        <p class="mb-2">Espace presse</p>
                        <p class="mb-2">Rapport DPEF 2025</p>
                        <p class="mb-2">Liens utiles</p>
                        <p class="mb-2">Conditions générales de vente</p>
                        <p class="mb-2">Conditions générales des prestations des formations</p>
                        <p class="mb-2">Mentions légales</p>
                        <p class="mb-2">Index égalité professionnelle femmes/hommes</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Outils et ressources</h4>
                        <p class="text-light fw-normal">Nos engagements</p>
                        <p class="text-light fw-normal">Fondation Solar Impulse</p>
                        <p class="text-light fw-normal">Références chantiers</p>
                        <p class="text-light fw-normal">Nos emplacements</p>
                        <p class="text-light fw-normal">Carrières</p>
                        <p class="text-light fw-normal">Contactez un expert</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">INSCRIPTION AUX ACTUALITÉS</h4>
                        <p>Recevez des informations personnalisées concernant nos réalisations, nos nouveaux produits, des conseils d’experts et bien plus !</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-12 text-center text-md-start mb-3 mb-md-0">
                            <a class="border-bottom" href="#">Politique de confidentialité et de gestion des données personnelles</a> © SOPREMA FRANCE, 2025

                            Ce site est protégé par reCAPTCHA. Les politiques de confidentialité et conditions d'utilisation de Google s'appliquent.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
  </body>
</html>
